<div style="background-color: #999999;">

    <div class="limiter">
        <div class="container-login100">
            <div class="login100-more" style="background-image: url('./../../../../assets/images/bg-01.jpg');"></div>

            <div class="wrap-login100 p-l-50 p-r-50 p-t-72 p-b-50">


                <form class="login100-form validate-form" [formGroup]="form">
                    <span class="login100-form-title p-b-59">
                        Criar conta
                    </span>

                    <div class="wrap-input100 validate-input">
                        <span class="label-input100">Nome completo</span>
                        <input formControlName="nome" class="input100" type="text" name="name" placeholder="Nome...">
                        <span class="focus-input100"></span>
                    </div>

                    <div class="wrap-input100 validate-input" data-validate="Name is required">
                        <span class="label-input100">Telefone</span>
                        <input formControlName="telefone" class="input100" type="text" name="name" placeholder="Telefone...">
                        <span class="focus-input100"></span>
                    </div>

                    <div class="wrap-input100 validate-input" data-validate="Valid email is required: ex@abc.xyz">
                        <span class="label-input100">Email</span>
                        <input formControlName="email" class="input100" type="text" name="email" placeholder="Email...">
                        <span class="focus-input100"></span>
                    </div>

                    <div class="wrap-input100 validate-input" data-validate="Username is required">
                        <span class="label-input100">Username</span>
                        <input formControlName="usuario" class="input100" type="text" name="username" placeholder="Username...">
                        <span class="focus-input100"></span>
                    </div>

                    <div class="wrap-input100 validate-input" data-validate="Password is required">
                        <span class="label-input100">Password</span>
                        <input formControlName="senha" class="input100" type="text" name="pass" placeholder="*************">
                        <span class="focus-input100"></span>
                    </div>

                    <div class="container-login100-form-btn">
                        <div class="wrap-login100-form-btn">
                            <div class="login100-form-bgbtn"></div>
                            <button (click)="onSubmit()" class="login100-form-btn">
                                Registrar
                            </button>
                        </div>

                        <a routerLink="/auth/login" class="dis-block txt3 hov1 p-r-30 p-t-10 p-b-10 p-l-30">
                            Entrar
                            <i class="fa fa-long-arrow-right m-l-5"></i>
                        </a>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>